<template>
	<div style="display:flex;overflow: hidden;position: absolute;top: 174px;bottom: 46px;width: 100%">
		<div ref="menu" class="menu" style="float: left;width: 56px;font-size: 12px;padding: 0 12px;">
			<ul>
				<li v-for="m, index in menuList" style="padding: 5px 0;height: 54px;" @click="menuClick(index)">
					<img :src="m.imgUrl" alt="" width="12">
					<span>{{m.name}}</span>
				</li>
			</ul>
		</div>
		<div ref="goods" class="goods" style="float: left;">
			<ul>
				<li v-for="list in goodsList" class="food-list-hook">
					<h4>{{list.name}}</h4>
					<div v-for="g in list.goods">
						<img :src="g.imgUrl" alt="" width="57" height="57" style="display: inline-block;padding-right: 15px;">
						<div style="display: inline-block;color: #ccc;font-size: 10px;">
							<div style="color: #333;font-size: 14px;">{{g.name}}</div>
							<div>{{g.desc}}</div>
							<div><span>月售{{g.sales}}份</span><span>好评率{{g.rate}}</span></div>
							<div style="color: red;">￥{{g.price}}<span style="float: right;color: blue;">+</span></div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</template>

<style>
</style>

<script>
	import BScroll from 'better-scroll'

	const menuList = [
		{
			name: '热销榜',
			imgUrl: 'https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1487782135&di=905eb364bf33078c4b74282d83388a1e&src=http://c.hiphotos.baidu.com/lvpics/h=800/sign=f08ecc016c63f624035d3403b745eb32/a2cc7cd98d1001e93b905337bf0e7bec54e7975d.jpg'
		},
		{
			name: '单人精彩套餐',
			imgUrl: 'https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1487782135&di=905eb364bf33078c4b74282d83388a1e&src=http://c.hiphotos.baidu.com/lvpics/h=800/sign=f08ecc016c63f624035d3403b745eb32/a2cc7cd98d1001e93b905337bf0e7bec54e7975d.jpg'
		},
		{
			name: '冰爽饮品限时特惠',
			imgUrl: 'https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1487782135&di=905eb364bf33078c4b74282d83388a1e&src=http://c.hiphotos.baidu.com/lvpics/h=800/sign=f08ecc016c63f624035d3403b745eb32/a2cc7cd98d1001e93b905337bf0e7bec54e7975d.jpg'
		},
		{
			name: '精选热菜',
			imgUrl: 'https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1487782135&di=905eb364bf33078c4b74282d83388a1e&src=http://c.hiphotos.baidu.com/lvpics/h=800/sign=f08ecc016c63f624035d3403b745eb32/a2cc7cd98d1001e93b905337bf0e7bec54e7975d.jpg'
		},
		{
			name: '热销榜',
			imgUrl: 'https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1487782135&di=905eb364bf33078c4b74282d83388a1e&src=http://c.hiphotos.baidu.com/lvpics/h=800/sign=f08ecc016c63f624035d3403b745eb32/a2cc7cd98d1001e93b905337bf0e7bec54e7975d.jpg'
		},
		{
			name: '单人精彩套餐',
			imgUrl: 'https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1487782135&di=905eb364bf33078c4b74282d83388a1e&src=http://c.hiphotos.baidu.com/lvpics/h=800/sign=f08ecc016c63f624035d3403b745eb32/a2cc7cd98d1001e93b905337bf0e7bec54e7975d.jpg'
		},
		{
			name: '冰爽饮品限时特惠',
			imgUrl: 'https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1487782135&di=905eb364bf33078c4b74282d83388a1e&src=http://c.hiphotos.baidu.com/lvpics/h=800/sign=f08ecc016c63f624035d3403b745eb32/a2cc7cd98d1001e93b905337bf0e7bec54e7975d.jpg'
		},
		{
			name: '精选热菜',
			imgUrl: 'https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1487782135&di=905eb364bf33078c4b74282d83388a1e&src=http://c.hiphotos.baidu.com/lvpics/h=800/sign=f08ecc016c63f624035d3403b745eb32/a2cc7cd98d1001e93b905337bf0e7bec54e7975d.jpg'
		},
		{
			name: '冰爽饮品限时特惠',
			imgUrl: 'https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1487782135&di=905eb364bf33078c4b74282d83388a1e&src=http://c.hiphotos.baidu.com/lvpics/h=800/sign=f08ecc016c63f624035d3403b745eb32/a2cc7cd98d1001e93b905337bf0e7bec54e7975d.jpg'
		},
		{
			name: '精选热菜',
			imgUrl: 'https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1487782135&di=905eb364bf33078c4b74282d83388a1e&src=http://c.hiphotos.baidu.com/lvpics/h=800/sign=f08ecc016c63f624035d3403b745eb32/a2cc7cd98d1001e93b905337bf0e7bec54e7975d.jpg'
		}
	]
	const goodsList = [
		{
			name: '热销榜',
			goods: [
				{
					name: '皮蛋瘦肉粥',
					desc: '咸粥',
					sales: 229,
					rate: '100%',
					price: 10,
					imgUrl: 'http://fuss10.elemecdn.com/c/cd/c12745ed8a5171e13b427dbc39401jpeg.jpeg?imageView2/1/w/114/h/114'
				},
				{
					name: '皮蛋瘦肉粥',
					desc: '咸粥',
					sales: 229,
					rate: '100%',
					price: 10,
					imgUrl: 'http://fuss10.elemecdn.com/c/cd/c12745ed8a5171e13b427dbc39401jpeg.jpeg?imageView2/1/w/114/h/114'
				},
				{
					name: '皮蛋瘦肉粥',
					desc: '咸粥',
					sales: 229,
					rate: '100%',
					price: 10,
					imgUrl: 'http://fuss10.elemecdn.com/c/cd/c12745ed8a5171e13b427dbc39401jpeg.jpeg?imageView2/1/w/114/h/114'
				},
				{
					name: '皮蛋瘦肉粥',
					desc: '咸粥',
					sales: 229,
					rate: '100%',
					price: 10,
					imgUrl: 'http://fuss10.elemecdn.com/c/cd/c12745ed8a5171e13b427dbc39401jpeg.jpeg?imageView2/1/w/114/h/114'
				},
				{
					name: '皮蛋瘦肉粥',
					desc: '咸粥',
					sales: 229,
					rate: '100%',
					price: 10,
					imgUrl: 'http://fuss10.elemecdn.com/c/cd/c12745ed8a5171e13b427dbc39401jpeg.jpeg?imageView2/1/w/114/h/114'
				},
				{
					name: '皮蛋瘦肉粥',
					desc: '咸粥',
					sales: 229,
					rate: '100%',
					price: 10,
					imgUrl: 'http://fuss10.elemecdn.com/c/cd/c12745ed8a5171e13b427dbc39401jpeg.jpeg?imageView2/1/w/114/h/114'
				},
				{
					name: '皮蛋瘦肉粥',
					desc: '咸粥',
					sales: 229,
					rate: '100%',
					price: 10,
					imgUrl: 'http://fuss10.elemecdn.com/c/cd/c12745ed8a5171e13b427dbc39401jpeg.jpeg?imageView2/1/w/114/h/114'
				},
				{
					name: '皮蛋瘦肉粥',
					desc: '咸粥',
					sales: 229,
					rate: '100%',
					price: 10,
					imgUrl: 'http://fuss10.elemecdn.com/c/cd/c12745ed8a5171e13b427dbc39401jpeg.jpeg?imageView2/1/w/114/h/114'
				},
				{
					name: '皮蛋瘦肉粥',
					desc: '咸粥',
					sales: 229,
					rate: '100%',
					price: 10,
					imgUrl: 'http://fuss10.elemecdn.com/c/cd/c12745ed8a5171e13b427dbc39401jpeg.jpeg?imageView2/1/w/114/h/114'
				},
				{
					name: '皮蛋瘦肉粥',
					desc: '咸粥',
					sales: 229,
					rate: '100%',
					price: 10,
					imgUrl: 'http://fuss10.elemecdn.com/c/cd/c12745ed8a5171e13b427dbc39401jpeg.jpeg?imageView2/1/w/114/h/114'
				}
			]
		},
		{
			name: '热销榜',
			goods: [
				{
					name: '皮蛋瘦肉粥',
					desc: '咸粥',
					sales: 229,
					rate: '100%',
					price: 10,
					imgUrl: 'http://fuss10.elemecdn.com/c/cd/c12745ed8a5171e13b427dbc39401jpeg.jpeg?imageView2/1/w/114/h/114'
				},
				{
					name: '皮蛋瘦肉粥',
					desc: '咸粥',
					sales: 229,
					rate: '100%',
					price: 10,
					imgUrl: 'http://fuss10.elemecdn.com/c/cd/c12745ed8a5171e13b427dbc39401jpeg.jpeg?imageView2/1/w/114/h/114'
				},
				{
					name: '皮蛋瘦肉粥',
					desc: '咸粥',
					sales: 229,
					rate: '100%',
					price: 10,
					imgUrl: 'http://fuss10.elemecdn.com/c/cd/c12745ed8a5171e13b427dbc39401jpeg.jpeg?imageView2/1/w/114/h/114'
				},
				{
					name: '皮蛋瘦肉粥',
					desc: '咸粥',
					sales: 229,
					rate: '100%',
					price: 10,
					imgUrl: 'http://fuss10.elemecdn.com/c/cd/c12745ed8a5171e13b427dbc39401jpeg.jpeg?imageView2/1/w/114/h/114'
				},
				{
					name: '皮蛋瘦肉粥',
					desc: '咸粥',
					sales: 229,
					rate: '100%',
					price: 10,
					imgUrl: 'http://fuss10.elemecdn.com/c/cd/c12745ed8a5171e13b427dbc39401jpeg.jpeg?imageView2/1/w/114/h/114'
				},
				{
					name: '皮蛋瘦肉粥',
					desc: '咸粥',
					sales: 229,
					rate: '100%',
					price: 10,
					imgUrl: 'http://fuss10.elemecdn.com/c/cd/c12745ed8a5171e13b427dbc39401jpeg.jpeg?imageView2/1/w/114/h/114'
				},
				{
					name: '皮蛋瘦肉粥',
					desc: '咸粥',
					sales: 229,
					rate: '100%',
					price: 10,
					imgUrl: 'http://fuss10.elemecdn.com/c/cd/c12745ed8a5171e13b427dbc39401jpeg.jpeg?imageView2/1/w/114/h/114'
				},
				{
					name: '皮蛋瘦肉粥',
					desc: '咸粥',
					sales: 229,
					rate: '100%',
					price: 10,
					imgUrl: 'http://fuss10.elemecdn.com/c/cd/c12745ed8a5171e13b427dbc39401jpeg.jpeg?imageView2/1/w/114/h/114'
				},
				{
					name: '皮蛋瘦肉粥',
					desc: '咸粥',
					sales: 229,
					rate: '100%',
					price: 10,
					imgUrl: 'http://fuss10.elemecdn.com/c/cd/c12745ed8a5171e13b427dbc39401jpeg.jpeg?imageView2/1/w/114/h/114'
				},
				{
					name: '皮蛋瘦肉粥',
					desc: '咸粥',
					sales: 229,
					rate: '100%',
					price: 10,
					imgUrl: 'http://fuss10.elemecdn.com/c/cd/c12745ed8a5171e13b427dbc39401jpeg.jpeg?imageView2/1/w/114/h/114'
				}
			]
		}
	]

	export default {
		data () {
			return {
				menuList: [],
				goodsList: [],
				// scroll相关
			  goodsScrollY: 0,
				listHeight: [],
				goods: []
			}
		},
		mounted () {
			// console.log(this.$refs.goods.querySelectorAll('.food-list-hook')[0].clientHeight, '当前列表第一项的总高度a')
			// console.log(document.body.clientHeight - 153, '自适应当前屏幕高度 减去 固定头部高度 等于 自适应当前屏幕剩余显示的高度t')
			// console.log(this.$refs.goods.querySelectorAll('.food-list-hook')[0].clientHeight - (document.body.clientHeight - 153), '那么a跟t之间相差的值就是滚动的值scrollTop')
			// console.log(this.$refs.goods.clientHeight, 3)
			let self = this
			self.$data.menuList = menuList
			self.$data.goodsList = goodsList
			self.$nextTick(() => {
				// 初始化滚动实例
				self.initScroll()
				// 初始化列表项的
				self.calculateHeight()
			})
		},
		methods: {
			initScroll () {
				let self = this
				this.menu = new BScroll(this.$refs.menu, {
					click: true
				})
				this.goods = new BScroll(this.$refs.goods, {
					click: true,
					probeType: 3
				})
				this.goods.on('scroll', (pos) => {
					this.goodsScrollY = Math.abs(Math.round(pos.y))
				})
			},
			calculateHeight () {
				let self = this
				let goods = this.$refs.goods.querySelectorAll('.food-list-hook')
				let height = 0
				// 初始化列表原始高度【即第一项列表的scrollTop】
				this.$data.listHeight.push(height)
				for (let i = 0; i < goods.length; i++) {
					// 假设：第一项列表li
					let item = goods[i]
					// 得出的为 第二项列表的高度clientHeight 加 第一项列表的高度clientHeight，一直叠加下去this.listHeight这个数组装的就都是所有列表项的总高度clientHeight了 
					//=> 接着只需要减去每项列表的clientHeight，就能求出当前列表项的scrollTop了
					height += item.clientHeight
					this.$data.listHeight.push(height)					
				}
				setTimeout(function(){
					self.$refs.goods.querySelectorAll('.food-list-hook')[1].scrollTop = 0
					console.log(self.$refs.goods.querySelectorAll('.food-list-hook')[1].scrollTop)
				}, 2000)
			},
			menuClick (index) {
				console.log(index)
				console.log(this.$data.listHeight)
				this.goods.scrollTo(0, -this.listHeight[index], 300)
			}
		}
	}
</script>